{% extends 'base.html' %}
{% block title %}{% if problem_id %}Задача {{ problem_id }}{% else %}Задачи{% endif %}{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/mode-latex.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/theme-chrome.js"></script>

    <script src="/static/js/jquery.toaster.js"></script>

    <script>
        $(function () {
            var $textarea = $('#commentArea');
            var editor = ace.edit($textarea[0]);
            editor.$blockScrolling = Infinity;
            editor.setOptions({
                theme: 'ace/theme/chrome',
                mode: 'ace/mode/latex',
                minLines: 3,
                maxLines: Infinity,
                wrap: true,
                showGutter: true,
                fadeFoldWidgets: false,
                showPrintMargin: false
            });

            editor.commands.removeCommands(["gotoline", "find"]);

            var currentItem = null;

            var fields = [
                {
                    title: "ID задачи",
                    name: "problem_id",
                    type: "number",
                    width: 5,
                    itemTemplate: function(value, item) {
                        return $("<a>").attr(
                            'href',
                            "{{ url_for('problems.view_problems', course_id=course_id, problem_id='99999999') }}".replace('99999999', item.problem_id)).text(value);
                    }
                },
                {
                    title: "ID пользователя",
                    name: "user_id",
                    type: "number",
                    itemTemplate: function(value, item) {
                        return $("<a>").attr(
                            'href',
                            "{{ url_for('learner_dashboard.view_learner_dashboard', course_id=course_id, user_id='99999999') }}".replace('99999999', item.user_id)).text(value);
                    }
                },
                {
                    title: "Имя пользователя",
                    name: "user_name",
                    type: "text"
                },
                {
                    title: "Статус",
                    name: "review_status",
                    type: "text"
                }
            ];

            var data = {{ review_requests | safe }};

            $("#jsGrid").jsGrid({
                width: "100%",
                height: "auto",
                heading: true,
                filtering: true,
                autosearch: true,
                sorting: true,
                inserting: false,
                editing: false,
                fields: fields,
                data: data,
                controller: {
                    loadData: function (filter){
                        var filtered_data = $.grep(data, function(item){
                            var result =
                                (!filter.user_name || item.user_name.includes(filter.user_name))
                                && (!filter.review_status || item.review_status.includes(filter.review_status))
                                && (!filter.problem_id || item.problem_id == filter.problem_id)
                                && (!filter.user_id || item.user_id == filter.user_id);
                            return result;
                        });
                        return filtered_data;
                    }
                },
                rowClick: function (args) {
                    currentItem = args.item;
                    $('a.goto-sharelatex')[0].href = 'https://www.sharelatex.com/project/' + currentItem.sharelatex_project_id;

                    $('#takeActionModal .modal-title').text(
                        currentItem.user_name
                        + ': дорешка задачи #'
                        + currentItem.problem_id
                    );

                    $('#takeActionModal .history').text('Идёт загрузка истории…');
                    $('#takeActionModal').modal('show');
                    editor.setValue('');
                    editor.focus();

                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('solution_reviews.view_solution_review_requests', course_id=course_id) }}",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify({
                            action: 'load_review_history',
                            user_id: currentItem.user_id,
                            problem_id: currentItem.problem_id,
                            course_id: {{ course_id }}
                        })
                    }).done(function (response) {
                        $('#takeActionModal .history').text('');
                        $('#takeActionModal .history').html(
                            '<ul><li>'
                            + response.history.join('</li><li>')
                            + '</li></ul>'
                        );
                    });


                    return false;
                }
            });

            function sendCommand(action) {
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('solution_reviews.view_solution_review_requests', course_id=course_id) }}",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({
                        action: action,
                        user_id: currentItem.user_id,
                        problem_id: currentItem.problem_id,
                        course_id: {{ course_id }},
                        comment: editor.getValue(),
                        deadline: currentItem.deadline,
                        notify_learner: $('#notifyLearnerByEmail').is(":checked")
                    })
                }).done(function (response) {
                    $.toaster({
                        message : response.result.toString(),
                        priority : 'success'
                    });
                    $("#jsGrid").jsGrid("rowByItem", currentItem).css('opacity', '0.3');
                }).fail(function () {
                    $.toaster({
                        message : 'Не удалось сохранить изменения',
                        priority : 'danger'
                    });
                });
            }

            $('#takeActionModal button.close').click(function(){
                $('#takeActionModal').modal('hide');
            });
            $('#takeActionModal button.take-for-review').click(function(){
                $('#takeActionModal').modal('hide');
                sendCommand('take_for_review');
            });
            $('#takeActionModal button.send-for-revision').click(function(){
                $('#takeActionModal').modal('hide');
                sendCommand('send_for_revision');
            });
            $('#takeActionModal button.accept-solution').click(function(){
                $('#takeActionModal').modal('hide');
                sendCommand('accept_solution');
            });
            $('#takeActionModal button.change-deadline').click(function(){
                alert('Совсем скоро эта фича будет реализована…');
                return;

                var d = new Date();
                var result = window.prompt('Введите новый deadline в формате ГГГГ-ММ-ДД', d.getFullYear().toString() + '-' + d.getMonth().toString() + '-' + d.getDate().toString());
                if(result) {
                    currentItem.deadline = result;
                    $('#takeActionModal').modal('hide');
                    sendCommand('change_deadline');
                }
            });
        });
    </script>
{% endblock head %}

{% block body %}
    <div class="container-fluid"><div id="jsGrid" class="card"></div></div>
    <div class="modal fade" id="takeActionModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="h5">Доступные действия</h4>
                            <div class="form-group">
                                <label for="commentArea">Опциональный комментарий, который увидит обучающийся (можно использовать LaTeX):</label>
                                <textarea id="commentArea" class="form-control form-control-lg"></textarea>
                                <label class="form-check-label"><input type="checkbox" class="form-check-input" id="notifyLearnerByEmail" checked="checked"></label>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-outline-secondary goto-sharelatex" target="_blank"><i class="fa fa-external-link"></i> ShareLaTeX</a>
                                <button type="button" class="btn btn-outline-secondary take-for-review">Взять на проверку</button>
                                <button type="button" class="btn btn-outline-secondary change-deadline">Изменить deadline</button>
                                <button type="button" class="btn btn-outline-danger send-for-revision">Запросить переделку</button>
                                <button type="button" class="btn btn-outline-success accept-solution">Зачесть</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">История дорешки</h5>
                            <p class="card-text history"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}