{% extends 'base.html' %}
{% block title %}{% if problem_id %}Задача {{ problem_id }}{% else %}Задачи{% endif %}{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/mode-latex.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/theme-chrome.js"></script>

    <script src="/static/js/jquery.toaster.js"></script>

    <script>
        $(function () {
            $('#topicCodesArea').autocomplete({
                mustMatch: true,
                minLength: 2,
                zIndex: 10000,
                source: function(request, response) {
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('autocompletion.autocomplete_topic_code') }}",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify(request.term),
                        success: function(data) {
                            response(data.matches);
                        }
                    });
                },
                open: function () {
                    $(this).autocomplete('widget').css('z-index', 2000);
                }
            });

            var $textarea = $('#problemStatementArea');
            var editor = ace.edit($textarea[0]);
            editor.$blockScrolling = Infinity;
            editor.setOptions({
                theme: 'ace/theme/chrome',
                mode: 'ace/mode/latex',
                minLines: 3,
                maxLines: Infinity,
                wrap: true,
                showGutter: true,
                fadeFoldWidgets: false,
                showPrintMargin: false
            });

            editor.commands.removeCommands(["gotoline", "find"]);
            editor.commands.addCommand({
                name: 'typeset',
                bindKey: 'Ctrl-Enter',
                exec: function(){
                    var dataToSend = {};
                    dataToSend['text'] = editor.getValue();
                    $.ajax({
                        url: '/latex_to_html',
                        data: JSON.stringify(dataToSend),
                        contentType: 'application/json',
                        type: 'POST',
                        success: function(response) {
                            if( response.result ){
                                $('#typeset').html(response.result);
                                $('#mathjaxonly').hide(0);
                                MathJax.Hub.queue.Push(MathJax.Hub.Typeset(document.querySelector('#typeset')));
                            }
                        }
                    });
                }
            });

            function editProblemDetails(item){
                editor.setValue(item.problem_statement_raw);

                $('#topicCodesArea').val(item.topic_codes);
                if(item.isNew){
                    $('#editProblemModal .modal-title').text('Добавление новой задачи');
                }
                else {
                    $('#editProblemModal .modal-title').text('Редактирование задачи #' + item.problem_id.toString());
                }
                $('#editProblemModal').modal('show');
                $('#editProblemModal')[0].currentItem = item;
                editor.resize();
                editor.focus();
                editor.gotoLine(1);
            }

            $('#editProblemModal button.button-cancel-editing').click(function(){
                $('#editProblemModal')[0].currentItem = null;
                $('#editProblemModal').modal('hide');
            });

            function saveProblemChanges(closeModal){
                var item = $('#editProblemModal')[0].currentItem;
                if(!item) {
                    return null;
                }

                $.extend(item, {
                    problem_statement_raw: editor.getValue(),
                    topic_codes: $('#topicCodesArea').val()
                });

                if (closeModal) {
                    $('#editProblemModal')[0].currentItem = null;
                    $('#editProblemModal').modal('hide')
                }
                if(item.isNew)
                    $("#jsGrid").jsGrid("insertItem", item);
                else
                    $("#jsGrid").jsGrid("updateItem", item);
            }

            $('#editProblemModal button.button-save-changes').click(function(){
                saveProblemChanges(false);
            });

            $('#editProblemModal button.button-save-and-close').click(function(){
                saveProblemChanges(true);
            });

            var fields = [
                {
                    title: "ID задачи",
                    name: "problem_id",
                    type: "number",
                    filtering: true,
                    readOnly: true,
                    width: 5
                },
                {
                    title: "Коды тем",
                    name: "topic_codes",
                    itemTemplate: function (value) {
                        return $('<div>').css('width','100%').css('overflow', 'hidden').text(value);
                    },
                    filterTemplate: function() {
                        return this._filterInput = $("<input>").autocomplete({
                            mustMatch: true,
                            minLength: 2,
                            source: function(request, response) {
                                $.ajax({
                                    type: "POST",
                                    url: "{{ url_for('autocompletion.autocomplete_topic_code') }}",
                                    contentType: "application/json",
                                    dataType: "json",
                                    data: JSON.stringify(request.term),
                                    success: function(data) {
                                        response(data.matches);
                                    }
                                });
                            },
                            select: function () {
                                $('#jsGrid').jsGrid('loadData');
                            }
                        });
                    },
                    filterValue: function () {
                        return this._filterInput.val();
                    },
                    type: "textarea",
                    filtering: true,
                    width: 15
                },
                {
                    title: "Условие",
                    name: "problem_statement",
                    type: "textarea",
                    itemTemplate: function (value) {
                        return $('<span>').html(value);
                    },
                    filtering: true,
                    autosearch: true
                },
                {
                    type: "control",
                    modeSwitchButton: false,
                    editButton: true,
                    width: 5,
                    {% if not problem_id %}
                    headerTemplate: function() {
                        return $("<button>")
                            .attr("type", "button")
                            .addClass('btn')
                            .addClass('btn-secondary')
                            .html('<i class="fa fa-plus" aria-hidden="true"></i>')
                            .on("click", function () {
                                editProblemDetails({isNew: true, problem_statement_raw: '', topic_codes: ''});
                            });
                    }
                {% endif %}
                }
            ];

            $("#jsGrid").jsGrid({
                width: "100%",
                height: "auto",
                heading: true,
            {% if not problem_id %}
                filtering: true,
                sorting: true,
                paging: true,
            {% else %}
                filtering: false,
                sorting: false,
                paging: false,
                inserting: false,
            {% endif %}
                editing: true,
                pageLoading: true,
                autoload: true,
                noDataContent: "Доступных Вам задач не найдено.",
                fields: fields,
                controller: {
                    loadData: function (filter) {
                        if (filter.pageIndex) {
                            filter.page_index = filter.pageIndex;
                        }
                        if (filter.pageSize) {
                            filter.page_size = filter.pageSize;
                        }

                        return $.ajax({
                            type: "POST",
                            url: "/api/problems",
                            contentType: "application/json",
                            dataType: "json",
                            data: JSON.stringify({
                                action: 'load',
                        {% if not problem_id %}
                                filter: filter
                        {% else %}
                                filter: { problem_id: {{ problem_id }} }
                        {% endif %}
                            })
                        });
                    },
                    deleteItem: function (item) {
                          return $.ajax({
                            type: "POST",
                            url: "/api/problems",
                            contentType: "application/json",
                            dataType: "json",
                            data: JSON.stringify({
                                action: 'delete',
                                problem_id: item.problem_id
                            })
                        }).done(function () {
                            $.toaster({
                                message : 'Задача удалена',
                                priority : 'success'
                            });
                        }).fail(function () {
                            $.toaster({
                                message : 'Не удалось удалить задачу из базы данных',
                                priority : 'danger'
                            });
                        });
                    },
                    updateItem: function (item) {
                          return $.ajax({
                            type: "POST",
                            url: "/api/problems",
                            contentType: "application/json",
                            dataType: "json",
                            data: JSON.stringify({
                                action: 'update',
                                item: item
                            })
                        }).done(function () {
                            $.toaster({
                                message : 'Задача успешно обновлена',
                                priority : 'success'
                            });
                        }).fail(function () {
                            $.toaster({
                                message : 'Не удалось сохранить изменения',
                                priority : 'danger'
                            });
                        });
                    },
                    insertItem: function (item) {
                          return $.ajax({
                            type: "POST",
                            url: "/api/problems",
                            contentType: "application/json",
                            dataType: "json",
                            data: JSON.stringify({
                                action: 'insert',
                                item: item
                            })
                        }).done(function (response) {
                            $.toaster({
                                message : 'Задача сохранена в базе под номером ' + response.problem_id.toString(),
                                priority : 'success'
                            });
                        }).fail(function () {
                            $.toaster({
                                message : 'Не удалось сохранить изменения',
                                priority : 'danger'
                            });
                        });
                    }
                },
                onItemInserted: function (args) {
                    if($('#editProblemModal')[0].currentItem){
                        editProblemDetails(args.item);
                    }
                },
                rowClick: function(args){
                    return false;
                },
                onRefreshed: function () {
                    MathJax.Hub.Queue(["Typeset", MathJax.Hub, "jsGrid"]);
                },
                onItemInserted: function () {
                    MathJax.Hub.Queue(["Typeset", MathJax.Hub, "jsGrid"]);
                },
                onItemUpdated: function () {
                    MathJax.Hub.Queue(["Typeset", MathJax.Hub, "jsGrid"]);
                },
                onItemEditing: function(args) {
                    args.cancel = true;
                    editProblemDetails(args.item);
                }
            });
        })
        ;
    </script>
{% endblock head %}

{% block body %}
    <div id="jsGrid"></div>

    <div class="modal fade" id="editProblemModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактирование задачи</h5>
                    <button type="button" class="close button-cancel-editing">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="problemStatementArea">Условие задачи:</label>
                        <textarea id="problemStatementArea" class="form-control form-control-lg"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="topicCodesArea">Коды тем:</label>
                        <textarea id="topicCodesArea" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary button-cancel-editing">Закрыть</button>
                    <button type="button" class="btn btn-secondary button-save-changes">Сохранить</button>
                    <button type="button" class="btn btn-primary button-save-and-close">Сохранить и закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}