{% extends 'base.html' %}

{% block head %}
<script type="text/javascript">
$(function(){
    $('button.btn-submit-for-review').click(function (evt) {
        $.ajax({
            type: "POST",
            url: "{{ url_for('solution_reviews.view_solution_review_requests', course_id=course_id) }}",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                action: 'submit_for_review',
                user_id: {{ user_id }},
                problem_id: parseInt(evt.target.id),
                course_id: {{ course_id }}
            })
        }).done(function (response) {
            $.toaster({
                message : response.result.toString(),
                priority : 'success'
            });
        }).fail(function () {
            $.toaster({
                message : 'Не удалось сохранить изменения',
                priority : 'danger'
            });
        });
    })
});
</script>

<script src="/static/js/jquery.toaster.js"></script>
{% endblock %}

{% block title %}Результаты{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="h3"><a data-toggle="collapse" href="#exposuresAndGrading">Содержимое выдач и результаты проверок</a></h3>
            </div>
            <div class="card-body collapse" id="exposuresAndGrading">
                <table class="table table-sm table-striped">
                    <thead class="thead-default">
                        <th>Дата и ID выдачи</th>
                        <th>ID набора задач</th>
                        <th>ID задач и результаты их проверки</th>
                    </thead>
                    <tbody>{% for exposure in exposures %}<tr>
                        <td>{{ exposure.date }}, #{{ exposure.id }}</td>
                        <td>{{ exposure.problem_set_id }}</td>
                        <td>{% if exposure.grading_results %}<table><tr>
                            {% for item in exposure.grading_results %}<td><a href="{{ url_for('problems.print_problem', problem_id=item.problem_id, course_id=course_id) }}">#{{ item.problem_id }}</a></td>{% endfor %}</tr><tr>
                            {% for item in exposure.grading_results %}<td class="center">{{ item.icon }}</td>{% endfor %}
                        <tr></table>{% endif %}</td>
                    </tr>{% endfor %}</tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="h3"><a data-toggle="collapse" href="#trajectoryProgress">Движение по траектории</a></h3>
            </div>
            <div class="card-body collapse" id="trajectoryProgress">
                <table class="table table-sm table-striped">
                    <thead class="thead-default">
                        <th></th>
                        <th>ID темы</th>
                        <th>название/код темы</th>
                        <th>Задача, закрывшая тему</th>
                    </thead>
                        <tbody>
                        {% for item in trajectory %}<tr>
                            <td><strong>{% if item.problem_id %}&#x2611;{% else %}&#x2610;{% endif %}</strong></td><td>{{ item.topic_id }}</td><td>{% if item.topic_title %}{{ item.topic_title }}{% else %}{{ item.topic_code }}{% endif %}</td><td>{% if item.problem_id %}{{ item.problem_id }}{% else %}—{% endif %}</td>
                        </tr>{% endfor %}</tbody>
                </table>
            </div>
         </div>
        <div class="card">
            <div class="card-header">
                <h3 class="h3"><a data-toggle="collapse" href="#solutionRevisions">Дорешки в LaTeX</a></h3>
            </div>
            <div class="card-body collapse" id="solutionRevisions">
                <div class="card-block">
                <h5 class="card-title h5">Полезные ссылки</h5>
                    <ul>
                        <li class="list-group-item"><a href="{{ 'https://www.sharelatex.com/project/' + sharelatex_project_id }}">Ваш проект на ShareLaTeX</a></li>
                        <li class="list-group-item"><a href="http://www.dainiak.com/ilatexprimer/">Интерактивное введение в LaTeX</a></li>
                        <li class="list-group-item"><a href="http://www.dainiak.com/latexcheck/">Авточекер</a></li>
                        <li class="list-group-item"><a href="https://goo.gl/FhyJJm">Правила оформления решений</a></li>
                    </ul>
                </div>
                <div class="card-block">
                <h5 class="h5 card-title">Статус Ваших дорешек</h5>
                <table class="table table-sm table-striped">
                    <thead class="thead-default">
                        <th>ID задачи</th>
                        <th>статус</th>
                        <th>действия</th>
                        <th>комментарии проверяющего</th>
                    </thead>
                    <tbody>{% for item in revisions %}<tr>
                        <td><a href="{{ url_for('problems.print_problem', problem_id=item.problem_id, course_id=course_id) }}">#{{ item.problem_id }}</a></td>
                        <td>{{ item.review_status }}</td>
                        <td>{% if item.submission_allowed %}<button class="btn btn-default btn-submit-for-review" id="{{ item.problem_id }}">запросить проверку</button>{% endif %}</td>
                        <td>{{ item.reviewer_comment }}</td>
                    </tr>{% endfor %}</tbody>
                </table>
                </div>
            </div>
         </div>
    </div>
{% endblock body %}