{% extends 'base.html' %}
{% block title %}Просмотр выдачи{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <script src="/static/js/jquery.toaster.js"></script>

    <script>
        $(function () {
            function getSingleProblemFields(){
                var list = [];
                for(var i = 1; i <= 5; ++i){
                    list.push(function(pNumber){return {
                        title: "Задача " + pNumber.toString(),
                        name: "pid" + pNumber.toString(),
                        itemTemplate: function (value) {
                            return $('<a>').attr('href', '/problem-' + value).text(value);
                        }
                    }}(i));
                }
                return list;
            }

            var problemFields = getSingleProblemFields();
            var fields = [
                {
                    title: "Студент",
                    name: "learner_name",
                    itemTemplate: function(value) {
                        return $("<span>").text(value);
                    },
                    filtering: false
                },
                {
                    title: "ID набора",
                    name: "problem_set_id",
                    itemTemplate: function(value, item) {
                        if(item.problem_set_is_adhoc){
                            return $("<a>").attr('href', '/problem-set-' + value).html(value + '<sup>a</sup>');
                        }
                        return $("<a>").attr('href', '/problem-set-' + value).text(value);
                    },
                    filtering: false
                }
            ].concat(problemFields).concat([{
                type: "control", modeSwitchButton: false, editButton: true, deleteButton: false
            }]);

            $("#jsGrid").jsGrid({
                width: "100%",
                height: "auto",
                inserting: false,
                heading: true,
                editing: false,
                filtering: false,
                sorting: true,
                paging: false,
                autoload: true,
                fields: fields,
                controller: {
                    loadData: function (filter) {
                        return $.ajax({
                            type: "POST",
                            url: "/api/exposure",
                            contentType: "application/json",
                            dataType: "json",
                            data: JSON.stringify({
                                action: 'load',
                                filter: filter,
                                course_id: {{ course_id }},
                                exposure_id: {{ exposure_id }}
                            })
                        });
                    },
                    updateItem: function (item) {
                        return $.ajax({
                            type: "POST",
                            url: "/api/exposure",
                            contentType: "application/json",
                            dataType: "json",
                            data: JSON.stringify({
                                action: 'update',
                                item: item,
                                course_id: {{ course_id }}
                            })
                        }).done(function () {
                            $.toaster({
                                message : 'Изменения сохранены',
                                priority : 'success'
                            });
                        }).fail(function () {
                            $.toaster({
                                message : 'Не удалось сохранить изменения',
                                priority : 'danger'
                            });
                        });
                    }
                },
                onItemEditing: function(args) {
                    setTimeout(function(){
                        $('.jsgrid-edit-row select').first().focus();
                    }, 50);
                }
            });

            $('#btnChangeExposureDate').click(function(){
                var newDate = prompt("Введите дату в формате ГГГГ-ММ-ДД", "{{ exposure_date }}");
                $.ajax({
                    type: "POST",
                    url: "/api/exposure",
                    contentType: "application/json",
                    dataType: "json",
                    data: JSON.stringify({
                        action: 'change_exposure_date',
                        exposure_id: {{ exposure_id }},
                        course_id: {{ course_id }},
                        exposure_date: newDate
                    })
                }).done(function () {
                    $.toaster({
                        message : 'Изменения сохранены',
                        priority : 'success'
                    });
                    $('#exposureDate').text(newDate);
                }).fail(function () {
                    $.toaster({
                        message : 'Не удалось сохранить изменения',
                        priority : 'danger'
                    });
                });
            });

            $('#btnDeleteExposure').click(function(){
                if(confirm('Удаление выдачи приведёт к удалению всех результатов её проверки и всех ad-hoc наборов задач, участвовавших в выдаче и более не используемых. Подтверждаете удаление?')) {
                    $.ajax({
                        type: "POST",
                        url: "/api/exposure",
                        contentType: "application/json",
                        dataType: "json",
                        data: JSON.stringify({
                            action: 'delete_exposure',
                            exposure_id: {{ exposure_id }},
                            course_id: {{ course_id }}
                        })
                    }).done(function () {
                        $.toaster({
                            message : 'Выдача удалена',
                            priority : 'success'
                        });
                        $('#jsGrid').html('');
                    }).fail(function () {
                        $.toaster({
                            message : 'Не удалось удалить выдачу',
                            priority : 'danger'
                        });
                    });
                }
            });
        });
    </script>
{% endblock head %}

{% block body %}
    <div class="container-fluid">
    <h2 class="h2">Просмотр выдачи #{{ exposure_id }} от <span id="exposureDate">{{ exposure_date }}</span></h2>
        <div class="card">
            <div class="card-body">
            <a class="btn btn-primary" target="_blank" href="{{ url_for('exposures.print_exposure', course_id=course_id, exposure_string=exposure_id) }}">Перейти в режим печати выдачи</a>
            <button class="btn btn-secondary" id="btnChangeExposureDate">Изменить дату выдачи</button>
            <button class="btn btn-secondary" id="btnDeleteExposure">Удалить выдачу</button>
            </div>
        </div>
        <div id="jsGrid" class="card"></div>
    </div>
{% endblock body %}