{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript">
    $(function(){
        $('button.grade-group').click(function (evt) {
            var group_code = prompt('Введите номер группы:');
            var exposure_id = evt.target.dataset['expid'];
            var template = "{{ url_for('grading.view_grading_table', course_id=course_id, exposure_string='EID', group='GID') }}";
            window.location.href = template.replace('EID', exposure_id).replace('GID', group_code);
        });
    });
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
    <table class="table table-sm table-hover">
        <thead class="thead-default"><th>ID</th><th>Дата</th><th>Заголовок</th><th>Действия</th></thead>
        <tbody>{% for exposure in exposures %}<tr>
            <td>{{ exposure.id }}</td>
            <td>{{ exposure.date }}</td>
            <td>{{ exposure.title }}</td>
            <td>
                <a class="btn btn-secondary" href="{{ url_for('exposures.view_exposure', course_id=course_id, exposure_string=exposure.id) }}">просмотр</a>
                <a class="btn btn-secondary" href="{{ url_for('grading.view_grading_table', course_id=course_id, exposure_string=exposure.id) }}">проверка всех</a>
                <button class="btn btn-secondary grade-group" data-expid="{{ exposure.id }}">проверка группы…</button></td>
        </tr>{% endfor %}</tbody>
    </table>
    </div>
{% endblock body %}