<!DOCTYPE html>
<html lang="ru">
<head>
{% block jquery_include %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js" ></script>
{% endblock jquery_include %}

{% block bootstrap_include %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
{% endblock bootstrap_include %}

{% block mathjax_include %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
    skipStartupTypeset: true,
    messageStyle: 'none',
	showMathMenu: false,
	showMathMenuMSIE: false,
	showProcessingMessages: false,
    extensions: [
    	'tex2jax.js'
    ],
	jax: [
		'input/TeX',
		'output/HTML-CSS'
	],
    tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [['$$','$$'], ['\\[','\\]']],
        skipTags: ['script','noscript','style'],
    	processEnvironments: false,
    	preview: 'none'
    },
    TeX: {
        extensions: [
            'AMSmath.js',
            'AMSsymbols.js',
            'HTML.js',
            '[Contrib]/xyjax/xypic.js',
            '[Contrib]/img/img.js',
            '[Contrib]/counters/counters.js',
            '[Contrib]/forloop/forloop.js',
            '[Contrib]/forminput/forminput.js'
        ],
		Macros: {
			bbA: '{\\mathbb{A}}',
			bbB: '{\\mathbb{B}}',
			bbF: '{\\mathbb{F}}',
			bbN: '{\\mathbb{N}}',
			bbP: '{\\mathbb{P}}',
			bbQ: '{\\mathbb{Q}}',
			bbR: '{\\mathbb{R}}',
			bbZ: '{\\mathbb{Z}}',

			calA: '{\\mathcal{A}}',
			calB: '{\\mathcal{B}}',
			calC: '{\\mathcal{C}}',
			calD: '{\\mathcal{D}}',
			calF: '{\\mathcal{F}}',
			calG: '{\\mathcal{G}}',
			calI: '{\\mathcal{I}}',
			calK: '{\\mathcal{K}}',
			calM: '{\\mathcal{M}}',
			calN: '{\\mathcal{N}}',
			calO: '{\\mathcal{O}}',
			calR: '{\\mathcal{R}}',
			calS: '{\\mathcal{S}}',

			bfA: '{\\mathbf{A}}',
			bfB: '{\\mathbf{B}}',
			bfa: '{\\mathbf{a}}',
			bfb: '{\\mathbf{b}}',
			bfc: '{\\mathbf{c}}',
			bfe: '{\\mathbf{e}}',
			bfw: '{\\mathbf{w}}',
			bfx: '{\\mathbf{x}}',
			bfy: '{\\mathbf{y}}',
			bfz: '{\\mathbf{z}}',

			floor: ['{\\left\\lfloor #1 \\right\\rfloor}', 1],
			ceil: ['{\\left\\lceil #1 \\right\\rceil}', 1],
			'const': '{\\mathrm{const}}',

			le: '\\leqslant',
			ge: '\\geqslant',
			hat: '\\widehat',
			emptyset: '\\varnothing',
			epsilon: '\\varepsilon'
		}
	}
});
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js"></script>
{% endblock mathjax_include %}

<script type="text/javascript">
    $(function(){
        $.ajax({
            type: "POST",
            url: "/api/authorization",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                action: 'get_authorized_user'
            })
        }).done(function (user) {
            if(user && user.id) {
                $('#userRealName').text(user.name_first + ' ' + user.name_last + ' ').append($('<a>').attr('href', '/logout').css('color', 'black').append('<i class="fa fa-sign-out" aria-hidden="true"></i>'));
            }
            else{
                $('#userRealName').text('Вход в систему не выполнен')
            }
        })
    });
</script>

{% block head %}{% endblock head %}
<title>{% block title %}{% endblock %}</title>
</head>

<body>
{% block navbar %}<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <a class="navbar-brand" href="/"><span id="userRealName"></span></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/courses">Курсы</a>
        </div>
    </div>
</nav>{% endblock navbar %}

{% block body %}{% endblock body %}</body>
</html>