{% extends 'base.html' %}
{% block title %}Меню{% endblock %}

{% block body %}
<table class="table table-striped">
    <thead><td>Пользователь</td><td>Задачи, отправленные на дорешку</td></thead>
    <tbody>
        {% for data_item in data %}
        <tr>
            <td><a target="_blank" href="{{ data_item.url }}">{{ data_item.name }}</a></td>
            <td>{% for p in data_item.problems %}
            <label><input id="{{ data_item.id }}|{{p.id}}" type="checkbox" {% if p.result == 1 %}checked{% endif %}>{{p.id}}</label>
            {% endfor %}<span id="u{{data_item.id}}" class="result badge"></span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(function(){
        $('input').on('change', function(evt){
            var dataToSend = {};
            var data = evt.target.id.split('|')
            dataToSend['user'] = data[0];
            dataToSend['problem'] = data[1];
            if (evt.target.checked){
                dataToSend['result'] = '1';
            }
            else
                dataToSend['result'] = '0';
            $('span#result').text('');
            $.ajax({
                url: '{{ url_for("corrections_interface") }}',
                data: JSON.stringify(dataToSend),
                contentType: 'application/json',
                type: 'POST',
                success: function(response) {
                    $('#u'+dataToSend['user']).text(response.result);
                }
            });
        });
    });
</script>
{% endblock body %}