{% extends 'base.html' %}
{% block title %}Итоговые результаты{% endblock %}

{% block body %}
    <table class="table table-striped">
    <thead><th>username</th><th>email</th><th>Решено задач по уровням</th><th>Оценка</th></thead>
    <tbody>
    {% for u in users %}
    <tr>
        <td><a href="{{ url_for('trajectory_progress') }}?user={{ u.id }}">{{ u.username }}</a></td>
        <td>{{ u.email }}</td>
        <td>{{ u.grades[1] }}/{{ maximum_grades[1] }}, {{ u.grades[2] }}/{{ maximum_grades[2] }}, {{ u.grades[3] }}/{{ maximum_grades[3] }}</td>
        <td>{{ u.grades.final_grade }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock body %}