{% extends 'base.html' %}
{% block title %}Меню{% endblock %}
{% block head %}
<script type="text/javascript">
    function redirectToTestCreation() {
        var testCreateUrl = "{{ url_for('create_test', group_number=1234) }}";
        var groupNumber = prompt("Введите номер группы");
        window.location.assign(testCreateUrl.replace('1234',groupNumber))
    }
    function redirectToEditTestResults(){
        var testEditUrl = "{{ url_for('edit_group_table', group_number=1234, test_number=5678) }}";
        var groupNumber = prompt("Введите номер группы");
        var testNumber = prompt("Введите номер теста");
        window.location.assign(testEditUrl.replace('1234',groupNumber).replace('5678',testNumber));
    }

    function redirectToViewTest(){
        var testViewUrl = "{{ url_for('view_test', group_number=1234, test_number=5678) }}";
        var groupNumber = prompt("Введите номер группы");
        var testNumber = prompt("Введите номер теста");
        window.location.assign(testViewUrl.replace('1234',groupNumber).replace('5678',testNumber));
    }
</script>
{% endblock head %}

{% block body %}
Вам доступны следующие действия:
<ul>
<li><a href="{{ url_for('login') }}">Авторизация/выход из системы</a></li>
{% if mode != 'teacher' and mode != 'learner' %}
<li>Авторизуйтесь и зайдите снова на эту страницу. Здесь будет больше опций.</li>
{% endif %}

{% if mode == 'teacher' %}
<li><a href="{{ url_for('show_problems',topic='all') }}">Список всех задач</a></li>
<li><a href="{{ url_for('new_problem') }}">Создание новой задачи</a></li>
<li><a href="{{ url_for('edit_trajectory') }}">Редактирование траектории и добавление новых тем задач</a></li>
<li><a href="{{ url_for('review_interface') }}">Запросы от студентов на проверку задач</a></li>
<li><a style="color: #ddddff" href="{{ url_for('corrections_interface') }}">Список всех задач, отправленных на дорешку</a></li>
<li><a href="{{ url_for('show_topic_stats') }}">Статитика успешности решений задач по каждой теме</a></li>
<li><a href="{{ url_for('view_comments') }}">Все комментарии к задачам</a></li>

<li><a href="javascript:redirectToTestCreation()">Генерация нового теста</a></li>
<li><a href="javascript:redirectToEditTestResults()">Редактирование результатов проведённого теста</a></li>
<li><a href="javascript:redirectToViewTest()">Просмотр вариантов ранее проведённого теста</a></li>

<li><a href="{{ url_for('show_user_list') }}">Список пользователей системы</a></li>
{% endif %}

{% if mode =='learner' %}
<li><a href="{{ url_for('trajectory_progress') }}">Просмотр вашего текущего положения на общей траектории курса</a></li>
<li><a href="{{ url_for('learner_dashboard') }}">Просмотр результатов отдельных тестов и условий задач</a></li>
{% endif %}
</ul>
{% endblock body %}