{% extends 'base.html' %}
{% block title %}Авторизация{% endblock %}
{% block body %}
    {% if bad_login %}
    <div class="alert alert-danger" role="alert">Неверное имя пользователя и/или пароль</div>
    {% endif %}

    {% if login_successful %}
    <div class="alert alert-success" role="alert">Вы успешно зашли в систему под именем <em>{{ username }}</em>. Список доступных Вам действий можно посмотреть на <a href="/">главной странице</a>.</div>
    {% endif %}

    {% if already_logged %}
    <div class="alert alert-info" role="alert">Вы находитесь в системе под именем {{ username }}. Для того, чтобы зайти под другим именем, заполните форму ниже. Для выхода из системы пройдите по <a href="/logout">ссылке</a>.</div>
    {% endif %}

    {% if not login_successful %}
        <div class="container">
        <div class="card card-outline-secondary">
            <div class="card-block">
            <h4 class="card-title">Данные для авторизации:</h4>
            <form action="/api/authorization" method="POST" class="form">
                <input class="form-control" type="text" name="username" placeholder="имя пользователя">
                <input class="form-control"  type="password" name="password" placeholder="пароль">
                <input class="btn btn-default" type="submit" name="Авторизоваться" value="Авторизоваться">
            </form>
        </div>
        </div>
        </div>
    {% endif %}
{% endblock body %}