{% extends 'base.html' %}
{% block title %}Список задач{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
        {% for problem in problems %}
        <div class="well" data-topic="{{ problem['topic'] }}">
            <span class="badge">(ID {{ problem['id'] }})</span>
            {% if problem['clones'] %}<span class="badge">Клоны: {{ problem['clones'] }}</span>{% endif %}
            {{ problem['statement']|safe }}
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock body %}