{% extends 'base.html' %}
{% block title %}Меню{% endblock %}

{% block body %}
<table class="table table-striped">
    <thead><td>Тема</td><td>#вхождений в <a target="_blank" href="{{ url_for('edit_trajectory') }}">траекторию</a></td><td>#задач по теме</td><td>#попыток</td><td>#успешных попыток</td><td>#закрывших</td></thead>
    <tbody>
        {% for data_item in data %}
        <tr>
            <td>{{ data_item.topic }}</td>
            <td>{{ data_item.qty_in_trajectory }}</td>
            <td><a target="_blank" href="{{ url_for('show_all_problems', topic=data_item.topic) }}">{{ data_item.num_problems }}</a></td>
            <td>{{ data_item.num_tries }}</td>
            <td>{{ data_item.num_successful_tries }}</td>
            <td>{{ data_item.num_clears }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}