{% extends 'base.html' %}
{% block title %}Список пользователей{% endblock %}
{% block head %}
    <script>
        {% if show_remove_expired_ui %}
        function removeExpired(){
            var dataToSend = {};
            dataToSend['user'] = 0;
            dataToSend['problem'] = 0;
            dataToSend['action'] = 'REMOVE_EXPIRED';
            $.ajax({
                url: '{{ url_for("review_interface") }}',
                data: JSON.stringify(dataToSend),
                contentType: 'application/json',
                type: 'POST',
                success: function(response) {
                    $('#removeexpired').text(response.result).attr('disabled','disabled');
                }
            });
        }
        {% endif %}

        function takeForReview(uid,pid,bid){
            var dataToSend = {};
            dataToSend['user'] = uid;
            dataToSend['problem'] = pid;
            dataToSend['action'] = 'TAKE_FOR_REVIEW';
            $.ajax({
                url: '{{ url_for("review_interface") }}',
                data: JSON.stringify(dataToSend),
                contentType: 'application/json',
                type: 'POST',
                success: function(response) {
                    $('#reviewer'+bid).text(response.reviewer);
                    $('#'+bid).text(response.result).attr('disabled','disabled');
                    location.reload();
                }
            });
        }

        function sendForRework(uid,pid,bid){
            var dataToSend = {};
            dataToSend['user'] = uid;
            dataToSend['problem'] = pid;
            dataToSend['action'] = 'SEND_FOR_REWORK'
            var comment = prompt("Введите комментарий для студента");
            if (comment !== null) {
                if (comment){
                    dataToSend['comment'] = 'Комментарий от проверяющего: ' + comment;
                }
            }
            else{
                alert('Действие отменено');
                return;
            }

            $.ajax({
                url: '{{ url_for("review_interface") }}',
                data: JSON.stringify(dataToSend),
                contentType: 'application/json',
                type: 'POST',
                success: function(response) {
                    $('#rwk'+bid).text(response.result).attr('disabled','disabled');
                }
            });
        }

        function deleteRequest(uid,pid,bid){
            var dataToSend = {};
            dataToSend['user'] = uid;
            dataToSend['problem'] = pid;
            dataToSend['action'] = 'DELETE_REQUEST';
            $.ajax({
                url: '{{ url_for("review_interface") }}',
                data: JSON.stringify(dataToSend),
                contentType: 'application/json',
                type: 'POST',
                success: function(response) {
                    $('#del'+bid).text(response.result).attr('disabled','disabled');
                }
            });
        }
        function acceptSolution(uid,pid,bid){
            var dataToSend = {};
            dataToSend['user'] = uid;
            dataToSend['problem'] = pid;
            dataToSend['result'] = '1';

            var comment = prompt("Введите комментарий для студента");
            if (comment) {
                dataToSend['comment'] = 'Комментарий от проверяющего: ' + comment;
            }

            $.ajax({
                url: '{{ url_for("corrections_interface") }}',
                data: JSON.stringify(dataToSend),
                contentType: 'application/json',
                type: 'POST',
                success: function(response) {
                    $('#acc'+bid).text(response.result).attr('disabled','disabled');
                    $('#rwk'+bid).attr('disabled','disabled');
                    deleteRequest(uid,pid,bid);
                }
            });
        }

        function filter(p, s) {
            $('tr[data-' + p + ']').not('[data-' + p + '="' + s + '"]').toggle();
        }
    </script>
{% endblock head %}

{% block body %}
    {% if show_remove_expired_ui %}
    <button class="btn" id="removeexpired" onclick="removeExpired()">Удалить просроченные дорешки</button>
    {% endif %}
    <table id="mainTable" class="table table-striped">
    <thead><th>Пользователь</th><th>Ссылка на ShareLaTeX</th><th>Задача</th><th>Проверяющий</th><th>Статус</th><th>Действия</th></thead>
    <tbody>
    {% for i in items %}
    <tr data-reviewer="{{ i.reviewer }}" data-problem="{{i.problem}}" data-username="{{ i.username }}">
        <td><a href="javascript:void(0)" onclick="filter('username','{{i.username}}')">{{ i.username }}</a></td><td>{% if i.url %}<a href="{{ i.url }}" target="_blank">проект</a>{% endif %}</td>
        <td><a href="javascript:void(0)" onclick="filter('problem','{{i.problem}}')">{{ i.problem }}</a></td>
        <td id="reviewer{{ loop.index }}"><a href="javascript:void(0)" onclick="filter('reviewer', '{{ i.reviewer }}');">{{ i.reviewer }}</a></td>
        <td>{{ i.state }}</td>
        <td>
        {% if i.reviewer != current_logged_user %}
            <button class="btn" id="{{ loop.index }}" onclick="takeForReview({{ i.user_id }},{{ i.problem }},{{ loop.index }})">Взять на проверку</button>
        {% endif %}
        {% if i.reviewer %}
            <button class="btn" id="del{{ loop.index }}" onclick="deleteRequest({{ i.user_id }},{{ i.problem }},'{{ loop.index }}')">Удалить запрос</button>
            <button class="btn" id="acc{{ loop.index }}" onclick="acceptSolution({{ i.user_id }},{{ i.problem }},'{{ loop.index }}')">Засчитать решение</button>
            {% if i.formal_state != 'REWORK_REQUIRED' %}
            <button class="btn" id="rwk{{ loop.index }}" onclick="sendForRework({{ i.user_id }},{{ i.problem }},'{{ loop.index }}')">Отправить на доработку</button>
            {% endif %}
        {% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock body %}