{% extends 'base.html' %}
{% block title %}Редактирование задачи #{{ problem_id }} {% endblock %}
{% block mathjax_include %}
<script type="text/x-mathjax-config">MathJax.Hub.Config({skipStartupTypeset: true});</script>
{{ super() }}
{% endblock mathjax_include %}

{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/mode-latex.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/theme-chrome.js"></script>
{% endblock head %}

{% block body %}
    <textarea id="hiddenarea" style="display:none">{{ problem_statement|safe }}</textarea>
    <div class="container-fluid">
        <div class="row">
            <div class="well col-xs-6" id="editor"></div>
            <div class="well col-xs-6" id="typeset"></div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon">Тема, к которой относится задача:</span>
                    <input class="form-control" id="topic" placeholder="тема" value="{{ topic }}">
                </div>
            </div>
            <div class="col-xs-6"></div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <span class="input-group-addon">ID задач-клонов:</span>
                    <input class="form-control" id="clones" placeholder="номера, разделенные запятыми" value="{{ clones }}">
                </div>
            </div>
            <div class="col-xs-6"></div>
        </div>
        <div class="row">
            <div class="col-xs-12"><button class="btn btn-default" id="save">Сохранить изменения</button><span id="result" class="badge"></span></div>
        </div>
    </div>


    <script>
    $(function() {
        var editor = ace.edit(document.querySelector('#editor'));
        editor.setValue(document.querySelector('#hiddenarea').value)
        editor.$blockScrolling = Infinity; // To disable annoying ACE warning
        editor.setOptions({
            theme: 'ace/theme/chrome',
            mode: 'ace/mode/latex',
            minLines: 3,
            maxLines: Infinity,
            wrap: true,
            showGutter: true,
            fadeFoldWidgets: false,
            showPrintMargin: false
        });

        editor.commands.removeCommands(["gotoline", "find"]);
        editor.commands.addCommand({
            name: 'typeset',
            bindKey: 'Ctrl-Enter',
            exec: function(){
        	    var dataToSend = {};
                dataToSend['text'] = editor.getValue();
                $.ajax({
                    url: '/latex_to_html',
                    data: JSON.stringify(dataToSend),
                    contentType: 'application/json',
                    type: 'POST',
                    success: function(response) {
                        if( response.result ){
                            $('#typeset').html(response.result);
                            $('#mathjaxonly').hide(0);
                            MathJax.Hub.queue.Push(MathJax.Hub.Typeset(document.querySelector('#typeset')));
                        }
                    }
                });
        	}
        });

    	editor.resize();
    	editor.focus();
    	editor.gotoLine(1);

        $("#topic").autocomplete({
            source:function(request, response) {
                $.getJSON("{{ url_for('autocomplete_topics') }}",{
                    q: request.term,
                }, function(data) {
                    response(data.matching_results);
                });
            },
            minLength: 2,
            mustMatch: true
        });

        $('button#save').bind('click', function() {
            var dataToSend = {};
            dataToSend['statement'] = editor.getValue();
            dataToSend['topic'] = document.querySelector('#topic').value;
            dataToSend['clones'] = document.querySelector('#clones').value;
            $.ajax({
                url: '/problem/{{ problem_id }}/update',
                data: JSON.stringify(dataToSend),
                contentType: 'application/json',
                type: 'POST',
                success: function(response) {
                    $('span#result').text(response.result);
                    if( response.processedText ){
                        $('#typeset').html(response.processedText);
                        $('#mathjaxonly').hide(0);
                        MathJax.Hub.queue.Push(MathJax.Hub.Typeset(document.querySelector('#typeset')));
                    }
                }
            });
            return false;
        });

        $('#processcompletely').bind('click', function() {
            var dataToSend = {};
            dataToSend['text'] = editor.getValue();
            $.ajax({
                url: '/latex_to_html',
                data: JSON.stringify(dataToSend),
                contentType: 'application/json',
                type: 'POST',
                success: function(response) {
                    if( response.result ){
                        $('#typeset').html(response.result);
                        $('#mathjaxonly').hide(0);
                        MathJax.Hub.queue.Push(MathJax.Hub.Typeset(document.querySelector('#typeset')));
                    }
                }
            });
            return false;
        });
    });
    </script>
{% endblock body %}