{% extends 'base.html' %}
{% block title %}Условие задачи{% endblock %}

{% block body %}
<div>
    {{ problem_statement|safe }}
</div>

<hr/>

<div class="form-group">
  <label for="comment">Ваш новый комментарий к задаче:</label>
  <textarea class="form-control" rows="5" id="new_comment"></textarea>
  <button class="btn" onclick="addComment()" id="btn_new_comment">Добавить комментарий</button>
  <span class="badge">(Студенты видят только собственные комментарии и комментарии преподавателей. Преподаватели видят все комменатарии.)</span>
</div>

{% if comments %}
Имеющиеся комментарии к задаче:
{% for comment in comments %}
<div><span class="badge">{{ comment.author }} at {{ comment.datetime }}</span>
    {{ comment.text }}
</div>
{% endfor %}
{% endif %}

<script>
    function addComment(){
        var dataToSend = {};
        dataToSend['comment'] = $('#new_comment').val();
        if(dataToSend['comment'] && !dataToSend['comment'].match(/^\s+$/) && dataToSend['comment'].length > 3){
            $.ajax({
                url: '{{ url_for("new_problem_comment", problem_id=problem_id) }}',
                data: JSON.stringify(dataToSend),
                contentType: 'application/json',
                type: 'POST',
                success: function(response) {
                    if( response.result ){
                        $('#btn_new_comment').text(response.result).attr('disabled','disabled');
                    }
                }
            });
        }
        else{
            $('#btn_new_comment').text('Вы попытались добавить слишком короткий либо пустой комментарий').attr('disabled','disabled');
        }
    }
    $(function(){
        if(document.querySelector('button[data-variation]')){
            $('button[data-variation]').first().before('<span class="badge">Нажмите на одну из кнопок, чтобы получить осмысленный текст условия:</span>');
        }
    });
</script>
{% endblock body %}