{% extends 'base.html' %}
{% block title %}Результаты{% endblock %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css"/>
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <script>
        $(function () {
            var fields = [
                {
                    title: "Действие",
                    name: "title",
                    itemTemplate: function(value, item) {
                        return $("<a>").attr('href', item.url).text(value);
                    },
                    filtering: false
                }
            ];

            $("#jsGrid").jsGrid({
                width: "100%",
                height: "auto",
                inserting: false,
                heading: true,
                editing: false,
                filtering: false,
                sorting: false,
                paging: false,
                autoload: true,
                fields: fields,
                controller: {
                    loadData: function (filter) {
                        return $.ajax({
                            type: "POST",
                            url: "/api/courses",
                            contentType: "application/json",
                            dataType: "json",
                            data: JSON.stringify({
                                action: 'get_available_actions',
                                course_id: {{ course_id }}
                            })
                        });
                    }
                }
            });
        })
        ;
    </script>
{% endblock head %}

{% block body %}
    <div id="jsGrid"></div>
{% endblock body %}